
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.win {
  background-color: green;
  color: white;
  border-radius: 50px;
  padding: 5px 15px;
  display: inline-block;
}

.loss {
  background-color: red;
  color: white;
  border-radius: 50px;
  padding: 5px 15px;
  display: inline-block;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
  padding: 0;
  font-size: 1.5rem;
  line-height: 1;
  color: #000;
  background-color: transparent;
  border: none;
}
